section.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px double gainsboro;
    height: 40vh;
    /*alineacin en el eje principal*/
    justify-content: space-between;
    /*alineacion en el eje secundario*/
     align-items: flex-start;
     /*alineacion entre filas*/
     align-content: flex-end;

}



p.item {
    margin: 1rem 0rem;
    
    padding:1rem 2rem;
    background-color: coral;
    border: 1px solid;
    
}
p.intem:nth-child(4){
    padding: 2rem 1rem;
    font-size: 3rem;
}