:root{
  --color-fondo: rgb(184, 23, 23);
 --color-letras: rgb(190, 169, 142);
  --margen-base:2rem;
}

body {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: var(--color-fondo);
  color: var(--color-letras);
  padding: 2rem;
}

.main-header-h1 {
  margin: 0;
  padding: 0;
}

.main-header-p {
  margin-bottom: 0;
  margin-top: calc(var(--margen-base) / 10);
}

.content-wrapper {
  margin: var (--margen-base);
}

.main-footer {
  background-color: var(--color-fondo);
  color: var(--color-letras);
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
  text-align: center;
}