img {
   /* width: fit-content;*/
    max-width: 100%;

}
p{
    text-align: justify
}


.image-warpper-50 {
    width: 50%;
    /*float: left;
    margin-right: 1rem;*/
    float: right;
    margin-left: 1rem;
}

.image-warpper-25 {
    width: 25%;
}
.image-warpper-75 {
    width: 75%;
}
.clearfix {

    border-top: 1px solid
}
.fondos{
    height: 100vh;
    position: relative; 
    
    background-color: #468ce1;
   /* padding: 2rem;*/
    background-image: url("../assets/3boats.jpg");
    background-repeat: no-repeat;
   /* background-size: 100%;(cover y cien porcien son iguales que da mejor cover*/
  /* background-size: contain;*/
     background-size: cover;
     background-blend-mode: soft-light;
     
    
    
   

}

.fondos h2{
    text-align: center;
        padding: 25vh;
        /*color: #f12524;*/
        color: aliceblue;
        
} 