body {
  margin:0;
  padding:0;
}
main-hearder {
  background-color: brown;
  color: bisque,
}
main-hearder-h1 {
  margin: 0;
  padding: 0;
}
main-hearder-p {
  margin bottom: ; 
  margin-top: 02.rem
}
body>div{
  margin: ;
}
  

 
body>footer¨{
  background-color: brown,
  color: bisque

}