h1,h2,h3,.resaltado {
    background-color: lawngreen;
    color: rgb(124, 18, 230)}

body {
    border:20px;
    margin: 30px;
    padding: 10px;

   background-color:rgb(216, 216, 135)
}

img {
    border:2px;
    margin: 30px;
    padding: 50px;


}
    
 
article img{    
    border: 1px solid #fff; 
    background-color: #ff7700;
    width: 90%; 
    padding: 25px;   
}

article img{
    float: right;
}
article p, h1, h2, h3,{
    float:left
}

 
article p{
    width: 50%;
    display: inline-block;  
    border: 2px solid red;
    vertical-align:middle;
}
 
article img{
    width: 20%;
    border: 2px solid black;
   vertical-align:middle;
}
p1.resaltado {
    background-color:red;
    color: rgb(18, 50, 230)}

    
    li{
        border:2px;
        margin: 60px;
        padding: 20px;
    
    }
    footer{ 
         border:8px;
        margin: 30px;
        padding: 25px;

    }
    li,.resaltado {
        background-color: rgb(227, 252, 0);
        color:rgb(230, 50, 18)}
    